<h1>Airlines#new</h1>
<p>Find me in app/views/airlines/new.html.erb</p>

<%= form_for(@airline) do |f| %>
  <%= f.label(:name) %>
  <%= f.text_field(:name, :placeholder => "Enter Airline Name") %>
  <%= f.submit %>
<% end %>
