<h2>Make a new sushi!</h2>
<form action="/sushis" method="post">
  Name: <input type="text" name="name" value=""><br>
  Description: <input type="text" name="description" value=""><br>
  <input type="submit" name="" value="make a new sushi"><br>
</form>
